*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.outer{
    background-color: darkred;
    color: white;
    max-width: 400px;
    max-height: 400px;
    padding: 20px;
    display: flex;
}

.inner{
    padding: 20px;
    background-color: darkkhaki;
    max-width: 40px;
    max-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.in{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}